<div class="m-2"*ngIf="isLoggedIn">
  <div class="row justify-content-center">
    <div class="col-3 p-2">
      <img src="https://image.tmdb.org/t/p/w500{{pelicula.poster_path}}" alt="" srcset="" class="border border-2">
    </div>
    <div class="col-3 p-2 text-start border-start border-2">
      <p><strong>Title:</strong>  {{pelicula.title}}</p>
      <p><strong>Original title: </strong> {{pelicula.original_title}}</p>
      <p><strong>Release date:</strong>  {{pelicula.release_date}}</p>
      <p><strong>Overview:</strong>  {{pelicula.overview}}</p>
      <p class="text-success">{{mensaje}}</p>
    </div>
  </div>
</div>
