<div class="row m-2" *ngIf="series!=null;">
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search by title" [(ngModel)]="name">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" (click)="searchName()">Search</button>
    </div>
  </div>
  <div class="col mb-2" *ngFor="let serie of series; let i = index">
    <div class="card" style="width: 18rem">
      <img src={{serie.image}} class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{serie.name}}</h5>
        <button class="btn btn-primary" [routerLink]="['info',serie.id]">See more</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!isLoggedIn">
You must be logged to see the characters
</div>
